<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Chip</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-chip>
      <ion-label>Exemplo</ion-label>
    </ion-chip>
  </ion-item>
  <ion-item>
    <ion-chip color="secondary">
      <ion-label>Secondary</ion-label>
    </ion-chip>
  </ion-item>  
  <ion-item>
    <ion-chip color="danger">
      <ion-label>Danger</ion-label>
    </ion-chip>
  </ion-item>   
  <ion-item>
    <ion-chip>
      <ion-icon name="star"></ion-icon>
      <ion-label>Star</ion-label>
    </ion-chip>
  </ion-item>     
  <ion-item>
    <ion-chip>
      <ion-label>Outro exemplo</ion-label>
      <ion-icon name="close-circle"></ion-icon>
    </ion-chip>
  </ion-item>    
  <ion-item>
    <ion-chip>
      <ion-avatar>
        <img src="/assets/usuario.png"/>
      </ion-avatar>
      <ion-label>Avatar</ion-label>
    </ion-chip>
  </ion-item>
</ion-content>